@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap');

*{
    margin:0;
    box-sizing: border-box;
}

body{
    height:100vh;
    width:100vw;
    background-color: #ffffff;
    background-image:url("./images/bg-top.png");
    background-repeat: no-repeat;
    padding-top:130px;
}

.ts-square{
    width:80%;
    height:111px;
    background-color: white;
    opacity:0.8;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-flow:column;
}

.nume{
    font-family: 'Dancing Script', cursive;
    font-size:20px;
    padding:10px;
    color:#4E3C3C;
}

.date{
    font-family: 'Poppins', sans-serif;
    color:#E7A12E;
    font-size:8px;
}


.center-items{
    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items:center;
    padding:20px;
}

.descriere p{
    font-family: 'Poppins', sans-serif;
    font-size:10px;
    font-weight: 600;
    text-align: center; 
    padding:0 40px;
    margin: 0 auto;
}


.center-items img{
    padding:20px;
}

.inv-txt{
    font-family: 'Dancing Script', cursive;
    font-size:24px;
    color:#000000;
    font-weight: 800;
    text-align: center;
    margin-bottom:20px;
}
.nume-mid{
    color:#FB2200;
    font-size:20px;
    font-family: 'Dancing Script', cursive;
    font-weight: 800;
    margin-bottom:60px;
}

.counter{
    height:80px;
    background-color:rgba(255, 255, 255, 0);
    display:flex;
    justify-content: space-around;
    align-items:center;
    padding:0 45px;
    
}
.counter p{
    display:flex;
    flex-flow:column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size:14px;
}

.counter div span{
    font-size:10px;
    font-family: 'Poppins', sans-serif;
}
.counter hr{
    width:2px;
    height:20px;
    border:1px solid #FB2200;
    background-color:#FB2200;
    color:#FB2200;
}

.parinti{
    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    padding:20px;
}
.parinti h2{
    color:#000000;
    font-size:20px;
    font-family: 'Dancing Script', cursive;
    margin-bottom:16px;
}

.parinti p{
    font-family: 'Dancing Script', cursive;
    font-size:16px;
    font-weight: bold;
    color:#FB2200;
}

.parinti h4{
    font-family: 'Dancing Script', cursive;
    font-size:14px;
    font-weight: bold;
    color:#000000;
    padding:10px;
}

.invitatia{
    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items:center;
    padding:20px 40px;
    background-color: white;
    min-height: 180px;
}
.center{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.invitatia h1{
    font-size:14px;
    color:#4E3C3C;
    margin-bottom:20px;
    font-family: 'Dancing Script', cursive;
}

.imagini{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding:20px;
}

.imagini img{
    padding-bottom:10px;
}
.rel{
    color:#FB2200;
    font-family: 'Dancing Script', cursive;
    font-size:14px;
    margin-bottom:10px;
}
.ceremonie p{
    font-size:8px;
    padding:5px 0 5px 0;
    font-family: 'Dancing Script', cursive;
}
.petrecere p{
    font-size:8px;
    padding:5px 0 5px 0;
    font-family: 'Dancing Script', cursive;
}

.btn{
    display:block;
    padding:6px 13px;
    background-color: #CD7F18;
    color:white;
    cursor: pointer;
    border-radius: 25px;
    font-size:8px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width:80%;
    margin-top:10px;
}

footer{
    background-image: url("./images/agatha.png");
    height:208px;
    background-size: fit;
    background-repeat: no-repeat;
    
}